* {
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

.menu-container {
    color: white;
    background-color: rgb(53, 53, 53);
    padding: 3px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logoimg {
    width: 50px;
}

.menus {
    display: flex;
}

.listitem {
    margin: 10px;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif
}

.listitem:hover {
    color: chartreuse;
}

.banner-img {
    width: 300px;
}

.banner-container {
    color: white;
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    background-image: url(background.png),
        linear-gradient(45deg, rgb(8, 8, 8), rgb(53, 53, 53));
    background-position: center;
    background-repeat: no-repeat;

}

.title {
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-weight: bolder;
}

.description {
    color: #fff;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;

}

.btn {
    color: white;
    background-color: red;
    padding: 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.btn:hover {
    color: #000;
    background-color: #fff;
}

.about-heading {
    color: rgb(0, 0, 0);
    margin: 0px;
    padding: 15px;
    font-size: 40px;
    text-align: center;

}

.about-us {
    display: flex;
    justify-content: space-around;
    height: 340px;
    align-items: center;
}

.about-img {
    width: 250px;
}

.about-title {
    font-size: 35px;
}

.icon0 {
    width: 100px;
}

.about-btn:hover {
    background-color: black;
    color: white;
}

.box {
    color: #fff;
    width: 300px;
    height: 300px;
    background-color: #000;
    /* box-shadow: 15px 15px 15px 15px grey ; */
    text-align: center;
    padding: 15px;
    justify-content: space-around;
}

.box:hover {
    box-shadow: 0px 0px 15px 10px rgb(255, 255, 255);
    transform: translateY(-5px);
}

.box-description {
    padding: 15px;
}

.box-btn {
    background-color: gray;
    margin-top: 15px;
    padding: 20px;
}

.service-container {
    display: flex;
    height: 500px;
    text-align: center;
    justify-content: space-around;

}

.service-section {
    padding-top: 50px;
    background-image: linear-gradient(45deg, rgb(8, 8, 8), rgb(53, 53, 53));
}

.service-title {
    text-align: center;
    padding-bottom: 30px;
}