* {
    margin: 2px;
    padding: 0px;
}

.hello {
    color: cornflowerblue;
    cursor: pointer;
    /* cursor:url(pngtree-3d-cute-sad-face-yellow-emoji-illustration-png-image_2785772.jpg),auto; */
    
}